.grid {
    display: table;
  }
  
  .grid-row {
    display: table-row;
  }
  
  .tile {
    display: table-cell;
    background-color: rgb(6, 109, 6);
    padding: 10px;
    border: 1px solid rgb(32, 179, 199);
    height: 30px;
    width: 30px;
  }
  
  .tile.snake {
    background-color: rgb(24, 163, 84);
  }
  
  .tile.food {
    background-color: rgb(201, 19, 19);
  }